[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
    _END_PRINT
    CANCEL_PRINT_BASE {rawparams}

[gcode_macro _START_PRINT]
gcode:
    {% set bed_temp = params.BED_TEMP | float %}
    {% set print_temp = params.PRINT_TEMP | float %}
    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={bed_temp}
    TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={bed_temp-0.5}
    G28
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET={print_temp}
    BED_MESH_CALIBRATE ADAPTIVE=1
    {% set purge_amount = 40 %}
    {% set purge_margin = 5 %}
    {% set all_points = printer.exclude_object.objects | map(attribute='polygon') | sum(start=[]) %}    # Get all object points
    {% set purge_x_min = (all_points | map(attribute=0) | min | default(0)) %}                          # Object x min
    {% set purge_x_max = (all_points | map(attribute=0) | max | default(0)) %}                          # Object x max
    {% set purge_y_min = (all_points | map(attribute=1) | min | default(0)) %}                          # Object y min
    {% set purge_y_max = (all_points | map(attribute=1) | max | default(0)) %}                          # Object y max

    {% set purge_x_center = ([((purge_x_max + purge_x_min) / 2) - (purge_amount / 2), 0] | max) %}      # Create center point of purge line relative to print on X axis
    {% set purge_y_center = ([((purge_y_max + purge_y_min) / 2) - (purge_amount / 2), 0] | max) %}      # Create center point of purge line relative to print on Y axis

    {% set purge_x_origin = ([purge_x_min - purge_margin, 0] | max) %}                                  # Add margin to x min, compare to 0, and choose the larger
    {% set purge_y_origin = ([purge_y_min - purge_margin, 0] | max) %}                                  # Add margin to y min, compare to 0, and choose the larger
    G0 X{purge_x_origin} Y{purge_y_origin} Z0.5 F9000
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={print_temp-0.5}
    G92 E0 
    G91
    G1 X{purge_amount} E{purge_amount/3} F500
    G90
    G92 E0

[gcode_macro _END_PRINT]
gcode:
    M400
    G91
    G1 E-1 F6000
    
    #   Get Boundaries
    {% set max_x = printer.configfile.config.stepper_x.position_max|float %}
    {% set max_y = printer.configfile.config.stepper_y.position_max|float %}
    {% set max_z = printer.configfile.config.stepper_z.position_max|float %}

    #   Check end position to determine safe direction to move
    {% if printer.toolhead.position.x < (max_x - 20) %}
        {% set x_safe = 20.0 %}
    {% else %}
        {% set x_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.y < (max_y - 20) %}
        {% set y_safe = 20.0 %}
    {% else %}
        {% set y_safe = -20.0 %}
    {% endif %}

    {% set z_safe = [max_z-printer.toolhead.position.z, 20] | min %}

    G0 X{x_safe} Y{y_safe} F20000    ; move nozzle to remove stringing
    G0 Z{z_safe} F1200
    SET_PIN PIN=led VALUE=0
    G90
    G0 X0 Y{max_y} F12000
    M104 S0
    M140 S0
    M107
    M84
    BED_MESH_CLEAR

[gcode_macro PAUSE]
rename_existing: PAUSE_BASE
gcode:
    {% if not printer.pause_resume.is_paused and printer.toolhead.homed_axes in 'xyz' %}
        SAVE_GCODE_STATE NAME=PAUSE_state
        PAUSE_BASE {rawparams}
        M107
        G91
        G1 E-2 F1200
        G0 Z50 F4000
        G90
        G0 X0 Y{printer.configfile.config.stepper_y.position_max} F6000
    {% endif %}
	
[gcode_macro RESUME]
rename_existing: RESUME_BASE
gcode:
    {% if printer.pause_resume.is_paused and printer.toolhead.homed_axes in 'xyz' %}
        RESTORE_GCODE_STATE NAME=PAUSE_state MOVE=1 MOVE_SPEED=200
        TEMPERATURE_WAIT SENSOR=extruder MINIMUM={printer.extruder.target}
        G91
        G1 E5 F1200
        G90
        RESUME_BASE {rawparams}
    {% endif %}

[gcode_macro LOAD_FILAMENT]
gcode:
    SAVE_GCODE_STATE NAME=LOAD_FILAMENT_state
    {% set min_temp=printer.configfile.settings.extruder.min_extrude_temp|float %}
    {% set default_temp=printer.extruder.target %}
    {% if default_temp<min_temp %}
        {% set default_temp=230 %}
    {% endif %}
    {% set temp=params.TEMP|default(default_temp)|float %}
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET={temp}
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={temp-10}
    G91
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder MOTION_QUEUE=""
    G1 E50 F500
    G1 E600 F5000
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder MOTION_QUEUE="extruder"
    G1 E150 F400
    G90
    RESTORE_GCODE_STATE NAME=LOAD_FILAMENT_state

[gcode_macro UNLOAD_FILAMENT]
gcode:
    SAVE_GCODE_STATE NAME=UNLOAD_FILAMENT_state
    {% set min_temp=printer.configfile.config.extruder.min_extrude_temp|float %}
    {% set default_temp=printer.extruder.target %}
    {% if default_temp<min_temp %}
        {% set default_temp=min_temp+5 %}
    {% endif %}
    {% set temp=params.TEMP|default(default_temp)|float %}
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET={temp}
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={temp}
    G91
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder MOTION_QUEUE="extruder"
    G1 E-150 F1000
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder MOTION_QUEUE=""
    G1 E-650 F5000
    SYNC_EXTRUDER_MOTION EXTRUDER=extruder MOTION_QUEUE="extruder"
    G90
    RESTORE_GCODE_STATE NAME=UNLOAD_FILAMENT_state

[gcode_macro _TOGGLE_LED]
gcode: 
    SET_PIN PIN=led VALUE={(not printer["output_pin led"].value)|int}

[gcode_macro _PAUSE_AFTER_D]
description: Trigger to pause the print after a further 'd' mm has been extruded
variable_end_d: 0 #create variable "END_D" which is associated with the PAUSE_AFTER_D gcode macro
gcode:
    {% set d_start = printer.print_stats.filament_used|float %} #starting point is whatever the filament used is when PAUSE_AFTER_D is called
    {% set d_end = (d_start + params.D|float)|float %} #end point is start + D parameter
    {% if d_start<d_end %}
        SET_GCODE_VARIABLE MACRO=_PAUSE_AFTER_D VARIABLE=end_d VALUE={d_end} #write the end value to the END_D gcode variable to access later
        M117 Pause at {d_end|round(2)}
        UPDATE_DELAYED_GCODE ID=_PAUSE_AT_D DURATION=1 #trigger the delayed gcode below after 1 second
    {% else %}
        UPDATE_DELAYED_GCODE ID=_PAUSE_AT_D DURATION=0
        SET_GCODE_VARIABLE MACRO=_PAUSE_AFTER_D VARIABLE=end_d VALUE=0
    {% endif %}

[delayed_gcode _PAUSE_AT_D]
initial_duration: 0 #if initial_duration is zero, the delayed gcode won't start by default
gcode:
    {% set d_current = printer.print_stats.filament_used|float %} #get the current filament used
    {% set d_end=printer["gcode_macro _PAUSE_AFTER_D"].end_d %}
    {% if d_end <= 0 %}
        UPDATE_DELAYED_GCODE ID=_PAUSE_AT_D DURATION=0
    {% elif d_current < d_end %} #if we aren't at the stopping point
        M117 Stopping {d_current|round(2)} {d_end|round(2)}
        UPDATE_DELAYED_GCODE ID=_PAUSE_AT_D DURATION=1 #restart the timer on the delayed gcode
    {% else %}
        {% if not printer["filament_switch_sensor switch_sensor"].filament_detected %}
            PAUSE
        {% endif %}
        UPDATE_DELAYED_GCODE ID=_PAUSE_AT_D DURATION=0 #set the delayed gcode duration back to zero so it doesn't keep triggering
    {% endif %}
