[include macro.cfg]

[bed_mesh]
speed: 100
mesh_min: 10,10
mesh_max: 290,260
probe_count: 5,5
fade_start: 1.0
fade_end: 10.0

[screws_tilt_adjust]
screw1: 10,290
screw1_name: Rear-Left
screw2: 290, 290
screw2_name: Rear-Right
screw3: 10,49
screw3_name: Front-Left
screw4: 290,49
screw3_name: Front-Right
speed: 100
screw_thread: CW-M4

[bltouch]
sensor_pin: ^PB7
control_pin: PB6
speed: 10
lift_speed: 30
pin_move_time: 0.3
stow_on_each_sample: false
x_offset: 0
y_offset: -39

[safe_z_home]
home_xy_position: 150, 150
speed: 100
z_hop: 5
z_hop_speed: 5

[gcode_arcs]
resolution: 0.1

[temperature_fan pi]
pin: PD12
control: watermark
sensor_type: temperature_host
target_temp: 65
min_temp: 0
max_temp: 100

[controller_fan stepper_driver_fan]
pin: PD13

[temperature_sensor board]
sensor_type: temperature_mcu

[mcu]
serial: /dev/ttyAMA0
restart_method: command
baud: 500000

[input_shaper]
shaper_freq_x: 42.857
shaper_freq_y: 50
shaper_type: mzv

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 3000
max_z_velocity: 30
max_z_accel: 100

[output_pin caselight]
pin: PD14

[virtual_sdcard]
path: ~/gcode_files

[pause_resume]

[exclude_object]

[respond]

[display_status]

[save_variables]
filename: ~/variables.cfg

[stepper_x]
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
microsteps: 16
rotation_distance: 40
endstop_pin: !PG6
homing_speed: 100
second_homing_speed: 10
position_endstop: 0
position_max: 300

[tmc2208 stepper_x]
uart_pin: PC4
run_current: 1
stealthchop_threshold: 999999

[stepper_y]
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
microsteps: 16
homing_speed: 100
rotation_distance: 40
second_homing_speed: 10
endstop_pin: !PG9
position_endstop: 300
position_max: 300

[tmc2208 stepper_y]
uart_pin: PD11
run_current: 1
stealthchop_threshold: 999999

[stepper_z]
step_pin: PF11
dir_pin: !PG3
enable_pin: !PG5
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_max: 340
position_min: -2
homing_speed: 20
second_homing_speed: 10

[tmc2209 stepper_z]
uart_pin: PC6
run_current: 1.2
stealthchop_threshold: 999999

[extruder]
step_pin: PG4
dir_pin: !PC1
enable_pin: !PA0
microsteps: 16
rotation_distance: 9.540846750149077
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA2
sensor_pin: PF4
pressure_advance: 0.05
max_extrude_only_distance: 2000
max_extrude_cross_section: 2
sensor_type: Generic 3950
min_temp: 0
max_temp: 350

[tmc2209 extruder]
uart_pin: PC7
run_current: 0.8

[extruder_stepper feeder]
extruder: extruder
step_pin: PF9
dir_pin: PF10
enable_pin: !PG2
microsteps: 16
rotation_distance: 23.52

[tmc2209 extruder_stepper feeder]
uart_pin: PF2
run_current: 0.8

[heater_bed]
heater_pin: PA1
sensor_pin: PF3
sensor_type: EPCOS 100K B57560G104F
min_temp: 0
max_temp: 130

[fan]
pin: PA8

[heater_fan fan1]
pin: PE5

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE8, EXP1_2=PE7,
    EXP1_3=PE9, EXP1_4=PE10,
    EXP1_5=PE12, EXP1_6=PE13,    # Slot in the socket on this side
    EXP1_7=PE14, EXP1_8=PE15,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PB1, EXP2_4=PA4,
    EXP2_5=PB2, EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PC15, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=PC5

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 19.828
#*# pid_ki = 1.612
#*# pid_kd = 60.970
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 33.885
#*# pid_ki = 0.398
#*# pid_kd = 720.490
#*#
#*# [bltouch]
#*# z_offset = 1.065
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.162500, -0.137500, -0.110000, -0.087500, -0.130000
#*# 	  -0.045000, -0.017500, -0.057500, -0.045000, -0.090000
#*# 	  0.050000, 0.020000, 0.072500, 0.010000, 0.002500
#*# 	  0.037500, 0.075000, 0.132500, 0.087500, 0.092500
#*# 	  -0.025000, 0.005000, 0.010000, 0.057500, 0.015000
#*# tension = 0.2
#*# min_x = 10.0
#*# algo = lagrange
#*# y_count = 5
#*# mesh_y_pps = 2
#*# min_y = 10.0
#*# x_count = 5
#*# max_y = 260.0
#*# mesh_x_pps = 2
#*# max_x = 290.0
