#############################################################
###                        MCU                            ###
#############################################################

[mcu]
canbus_uuid: 3491df61732e

[mcu ebb36]
canbus_uuid: f9dfeb249347

[mcu host]
serial: /tmp/klipper_host_mcu

#############################################################
###                     Steppers                          ###
#############################################################

[stepper_x]
step_pin: PC8
dir_pin: !PC9
enable_pin: !PA15
microsteps: 64
rotation_distance: 40
endstop_pin: ^ebb36:PB5
position_endstop: 0
position_max: 220
homing_speed: 100

[stepper_y]
step_pin: PA10
dir_pin: !PA14
enable_pin: !PA13
microsteps: 64
rotation_distance: 40
endstop_pin: ^PD3
position_endstop: 220
position_max: 220
homing_speed: 100

[stepper_z]
step_pin: PC6
dir_pin: PC7
enable_pin: !PA9
microsteps: 64
rotation_distance: 4
homing_speed: 30.0
endstop_pin: probe:z_virtual_endstop
position_min: -2 
position_max: 240

[extruder]
step_pin: ebb36: PD0
dir_pin: !ebb36: PD1
enable_pin: !ebb36: PD2
microsteps: 32
rotation_distance: 52
gear_ratio: 19:2
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: ebb36: PB13
sensor_type: ATC Semitec 104GT-2
sensor_pin: ebb36: PA3
min_extrude_temp: 150
max_extrude_only_distance: 900.0
max_extrude_cross_section: 1.5
pressure_advance: 0.07
min_temp: 0
max_temp: 320

[extruder_stepper feeder]
extruder: extruder
step_pin: PB12
dir_pin: !PB11
enable_pin: !PA8
microsteps: 32
rotation_distance: 22.7765
gear_ratio: 3:1

#############################################################
###                    TMC Autotune                       ###
#############################################################

[autotune_tmc stepper_x]
motor: moons-ms17hd6p420I-04
tuning_goal: performance
extra_hysteresis: 4
tbl: 1
toff: 1

[autotune_tmc stepper_y]
motor: moons-ms17hd6p420I-04
tuning_goal: performance
extra_hysteresis: 4
tbl: 1
toff: 1

#############################################################
###                      Drivers                          ###
#############################################################

[tmc2240 stepper_x]
cs_pin: PD9
spi_bus: spi2
run_current: 1.3
interpolate: true

[tmc2240 stepper_y]
cs_pin: PD8
spi_bus: spi2
run_current: 1.3
interpolate: true

[tmc2209 stepper_z]
uart_pin: PB10
run_current: 0.800

[tmc2209 extruder]
uart_pin: ebb36: PA15
run_current: 0.85

[tmc2209 extruder_stepper feeder]
uart_pin: PB2
run_current: 0.700

#############################################################
###                        Bed                            ###
#############################################################

[heater_bed]
heater_pin: PA5
sensor_type: Generic 3950
sensor_pin: PA1
min_temp: 0
max_temp: 160

[probe]
pin: ^!ebb36:PB8
deactivate_on_each_sample: false
x_offset: 0.0
y_offset: -20.0
speed: 5.0
samples: 1
sample_retract_dist: 2.0
lift_speed: 30
activate_gcode:
    SET_PIN PIN=_probe_pin VALUE=1
    G4 P300
deactivate_gcode:
    SET_PIN PIN=_probe_pin VALUE=0

[output_pin _probe_pin]
pin: ebb36:PB9

[safe_z_home]
home_xy_position: 110, 110
speed: 200.0
z_hop: 5

[bed_mesh]
speed: 200
horizontal_move_z: 2.5
mesh_min: 0,0
mesh_max: 220,200
probe_count: 7,7
algorithm: bicubic

[screws_tilt_adjust]
screw1: 10, 220
screw2: 10, 20
screw3: 210, 20
screw4: 210, 220
speed: 200
screw_thread: CW-M3

#############################################################
###                        Fans                           ###
#############################################################

[fan]
pin: ebb36: PA0

[heater_fan hotend_fan]
pin: ebb36: PA1
heater: extruder
heater_temp: 50.0
fan_speed: 0.7

[controller_fan mcu_fan]
pin: PA3
idle_timeout: 30

[temperature_fan host]      
pin: pi:gpio26
sensor_type: temperature_host   
control: pid
min_speed: 0
pid_Kp: 10
pid_Ki: 5
pid_Kd: 50       
target_temp: 50                
min_temp: 0                     
max_temp: 90                    
off_below: 0.10

[temperature_sensor mcu]
sensor_type: temperature_mcu

[temperature_sensor ebb36]
sensor_type: temperature_mcu
sensor_mcu: ebb36

#############################################################
###                        Misc                           ###
#############################################################

[pause_resume]

[display_status]

[exclude_object]

[gcode_arcs] 
resolution: 1.0

[input_shaper]
shaper_type_x = mzv
shaper_freq_x = 96.8
shaper_type_y = mzv
shaper_freq_y = 68.8
damping_ratio_x: 0.067
damping_ratio_y: 0.04

[include mcu_flasher.cfg]

[include macro.cfg]

[filament_switch_sensor switch_sensor]
switch_pin: !ebb36:PB6
pause_on_runout: false
runout_gcode:
    _PAUSE_AFTER_D D=10
insert_gcode:
    _PAUSE_AFTER_D D=0

[adxl345]
cs_pin: ebb36: PB12
spi_software_sclk_pin: ebb36: PB10
spi_software_mosi_pin: ebb36: PB11
spi_software_miso_pin: ebb36: PB2
axes_map: x,z,-y

[resonance_tester]
accel_chip: adxl345
probe_points:
    110, 110, 50

[shaketune]
number_of_results_to_keep: 1
result_folder: ~/printer_data/logs/ShakeTuneResults

[output_pin led]
pin: PA4

[virtual_sdcard]
path: /home/pi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: corexy
max_velocity: 500
max_accel: 12000
max_z_accel: 300
max_z_velocity:30

[idle_timeout]
timeout: 600
gcode:
    {% if printer.pause_resume.is_paused %}
        M104 S0
        M107
    {% else %}
        TURN_OFF_HEATERS
        M84
    {% endif %}

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*# z_offset = 0.690
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 21.671
#*# pid_ki = 1.363
#*# pid_kd = 86.143
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 55.419
#*# pid_ki = 2.602
#*# pid_kd = 295.107
